<!-- Barra de navegación lateral -->
<div id="sideNav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">Inicio</a>
  <a href="#">Buscar</a>
  <a href="#">Registradores</a>
  <a href="#">Salir</a>  
</div>

<!-- Icono del menú -->
<span class="menu-icon" (click)="openNav()">
  <img class="btnMenu" src="../../assets/logoFondo.png" alt="Menu Icon">
</span>

<!-- Contenido principal -->
<div id="main">
  <router-outlet></router-outlet>
</div>