<div class="container mt-5 contiene404 d-flex justify-content-center align-items-center">
    <div class="col-10 text-center">
        <div class="row">
            <label class="letra" style="color: #FFF; font-size: 3em;"> De tanto buscar, nos perdimos...</label>
        </div>
        <div class="row justify-content-center mt-5">
            <div class="col-auto">
                <img src="../../assets/mascota.png" class="mascota mt-5">
            </div>
            <div class="col-auto">
                <button class="btnAmarillo mt-5">Realizar búsqueda</button>
            </div>
        </div>
    </div>
</div>

